

.light {
  --background: #ececec;
  color: #080113;
  --clr: #080113;
}

.dark {
  --background: #080113;
  color: #ececec;
  --clr: #ececec;
}

/* ================ SECTION ================ */

section {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  overflow: hidden;
}

/* ================ NAV-BAR START ================ */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 65px;
  height: 90px;
  width: 100%;
}

.nav-text > h1 {
  height: 60px;
  width: 200px;
  color: #120330;
  padding: 15px 8px;
  font-size: 2.3rem;
  font-family: "Alex Brush" !important;
  background: linear-gradient(360deg, #eb0f97, #f566f0, #3b098b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.2rem;
}

/* ================ THEME START ================ */
.theme {
  padding: 15px 8px;
  height: 60px;
}
.theme-icon {
  transition: transform 0.6s ease;
  cursor: pointer;
  font-size: 1.8rem;
}
.theme-icon:active {
  transform: rotate(180deg);
}

/* ================ THEME END ================ */
/* ================ NAV-BAR END ================ */
/* ================ HOME START ================ */

.home {
  height: calc(100vh - 90px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20rem;
}

/* ================ RESPONSIVE DESIGN START ================ */

@media screen and (max-width: 1340px) {
  section {
    overflow: hidden;
    position: fixed;
  }
  .home {
    gap: 18rem;
  }
}

@media screen and (max-width: 1280px) {
  section {
    overflow: hidden;
    position: fixed;
  }
  .home {
    gap: 15rem;
  }
}

@media screen and (max-width: 1220px) {
  section {
    overflow: hidden;
    position: fixed;
  }
  .home {
    gap: 13rem;
  }
}

@media screen and (max-width: 1170px) {
  section {
    overflow: hidden;
    position: fixed;
  }
  .home {
    gap: 10rem;
  }
}

@media screen and (max-width: 1114px) {
  section {
    overflow: hidden;
    position: fixed;
  }
  .home {
    gap: 7.5rem;
  }
}

@media screen and (max-width: 1080px) {
  section {
    overflow: hidden;
    position: fixed;
  }
  .home {
    gap: 5rem;
  }
}

@media screen and (max-width: 1020px) {
  section {
    overflow: hidden;
    position: fixed;
  }
  .home {
    gap: 2.5rem;
  }
}

/* ================ TABLET ================ */

@media screen and (max-width: 968px) {
  section {
    overflow: hidden;
    position: fixed;
  }
  .nav-bar {
    padding: 0px 40px;
  }

  .home {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

/* ================ MOBILE ================ */

@media screen and (max-width: 429px) {
  section {
    overflow:hidden;
    position: fixed;
  }
  .home {
    position: fixed;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .nav-bar {
    height: 50px;
    padding: 4px 15px;
  }

  .nav-text > h1 {
    font-size: 1.55rem;
    padding: 23px 2px;
    letter-spacing: 0.1rem;
  }
  .theme {
    padding: 23px 2px;
  }
  .theme-icon {
    font-size: 1.2rem;
  }
}

/* ================ RESPONSIVE DESIGN END ================ */
