.home-text {
  height: 90px;
  width: 40rem;
  margin-top: -350px;
  margin-left: 120px;
}

.home-text > h1 {
  height: 80px;
  width: 100%;
  color: var(--clr);
  font-size: 3.75rem;
}

/* ================ TYPING... TEXT EFFECT START ================ */

.txt {
  font-size: 3.75rem;
  font-family: "Montserrat" !important;
  background: linear-gradient(120deg, #eb0f97, #f566f0, #3b098b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 8s ease-in-out infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ================ TYPING... TEXT EFFECT END ================ */

.home-text > p {
  height: 120px;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Poppins";
}

/* ================ BUTTON START  ================ */

.btn {
  height: 100px;
  width: 70%;
  display: flex;
  margin-top: 1rem;
}

.btn1,
.btn2 {
  padding: 20px 20px;
}
.butn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid var(--clr);
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--clr);
  transition: all 0.3s ease;
  cursor: pointer;
}

.butn:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.butn:active {
  background-color: #120330;
  box-shadow: none;
  transform: translateY(4px);
}

/* ================ BUTTON END ================ */
/* ================ HOME END ================ */
/* ================ SOCIAL LINK START ================ */

.social {
  height: 40px;
  width: 14rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 2rem;
  padding: 2rem;
}
.social p {
  color: var(--clr);
}
.social p:hover .linkedin {
  color: #0072b1;
}
.social p:hover .twitter {
  color: #1da1f2;
}
.social p:hover .facebook {
  color: blue;
}

/* ================ SOCIAL LINK END ================ */

/* ================ RESPONSIVE DESIGN START ================ */

@media screen and (max-width: 1340px) {
  .home-text {
    margin-left: 5.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .home-text {
    margin-left: 4.25rem;
  }
}

@media screen and (max-width: 1220px) {
  .home-text {
    margin-left: 3.875rem;
  }
}

@media screen and (max-width: 1170px) {
  .home-text {
    margin-left: 3.563rem;
  }
}

@media screen and (max-width: 1114px) {
  .home-text {
    margin-left: 3.438rem;
  }
}

@media screen and (max-width: 1080px) {
  .home-text {
    margin-left: 3.125rem;
  }
}

@media screen and (max-width: 1020px) {
  .home-text {
    margin-left: 2.5rem;
  }
  .home-text > h1 {
    width: 45rem;
    font-size: 3rem;
  }
  .txt {
    font-size: 3rem;
  }
  .home-text > p {
    width: 32rem;
    margin-top: 0.313rem;
    font-size: 0.92rem;
  }
}

/* ================ TABLET ================ */

@media screen and (max-width: 968px) {
  .home-text {
    margin-top: -4rem;
    margin-left: 5.5rem;
  }
  .home-text > h1 {
    width: 44rem;
    font-size: 4.1rem;
  }
  .txt {
    font-size: 4.1rem;
  }
  .home-text > p {
    width: 39.88rem;
    margin-top: 1.5rem;
    font-size: 1.1rem;
  }
  .social {
    font-size: 1.5rem;
  }
}

/* ================ MOBILE ================ */

@media screen and (max-width: 429px) {
  .home {
    position: fixed;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .theme {
    padding: 23px 2px;
  }
  .theme-icon {
    font-size: 1.2rem;
  }
  .home-text {
    margin-top: -14rem;
    margin-left: 1.5rem;
  }
  .home-text > h1 {
    height: 1.1rem;
    width: 50%;
    font-size: 1.9rem;
  }
  .txt {
    font-size: 1.9rem;
  }
  .home-text > p {
    margin-top: 1.5rem;
    width: 20rem;
    font-size: 0.67rem;
  }

  .btn {
    display: none; /* button Hide */
  }
  .social {
    position: fixed;
    padding: 0;
    margin-top: -1rem;
    font-size: 1.2rem;
  }
}

/* ================ RESPONSIVE DESIGN END ================ */
