/* ================ PROFILE CARD START ================ */

.card {
  margin-top: -0.3rem;
  width: 250px;
  height: 420px;
  perspective-origin: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2.3s;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: url(../../../Static/Images/CardFront.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.front h2 {
  font-weight: 500;
  color: #fff;
}

.front p {
  color: #fff;
  font-size: 15px;
}

.front .front-btnn {
  width: 120px;
  border: 1px solid #ececec;
  background: transparent;
  border-radius: 50px;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
}

.back {
  background: linear-gradient(120deg, #eb0f97, #f566f0, #3b098b);
  color: #120330;
  padding: 5px 20px;
  transform: rotateY(180deg);
}

.back h1 {
  font-size: 50px;
  line-height: 45px;
}

.back h1 span {
  font-weight: 400;
}

.back p {
  font-size: 14px;
  font-weight: 450;
}

.back p span {
  font-weight: 600;
}

.back img {
  width: 120px;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.col {
  flex: 1;
  text-align: center;
  color: #120330;
  font-size: 12px;
  position: relative;
}

.col h2 {
  font-size: 20px;
}

.col::after {
  content: " ";
  width: 1.5px;
  height: 20px;
  background: #120330;
  position: absolute;
  top: 5px;
  right: 0px;
}

.col:last-child::after {
  display: none;
}

.col p {
  margin-top: 2px;
  margin-right: 10px;
}

.back .follow-btn {
  background: #ff5252;
  color: #fff;
  border: none;
  outline: 0;
  padding: 8px 15px;
  border-radius: 8px;
  transition: 0.2s;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 4.5rem;
  cursor: pointer;
}

.back .follow-btn:hover {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #ff5252;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* ================ PROFILE CARD END ================ */

/* ================ RESPONSIVE DESIGN START ================ */

/* ================ TABLET ================ */

@media screen and (max-width: 968px) {
  .card {
    margin-top: 5rem;
    margin-left: 30rem;
  }
}

/* ================ MOBILE ================ */

@media screen and (max-width: 429px) {
  .card {
    position: fixed;
    margin-top: -17rem;
    margin-left: 8rem;
    width: 220px;
    height: 340px;
  }

  .back h1 {
    font-size: 1.9rem;
    line-height: 28px;
  }

  .back h1 span {
    font-weight: 400;
  }

  .back p {
    font-weight: 400;
    font-size: 0.8rem;
  }

  .back p span {
    font-weight: 600;
  }

  .back img {
    width: 90px;
  }

  .row {
    margin-top: 2.5px;
  }

  .col {
    font-size: 8px;
  }

  .col h2 {
    font-size: 1.2rem;
  }

  .col p {
    margin-top: 2px;
    margin-right: 10px;
  }

  .back .follow-btn {
    margin-top: 4px;
    margin-left: 3.5rem;
  }
}

/* ================ RESPONSIVE DESIGN END ================ */
