@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@100;300;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ================ TYPING... TEXT EFFECT START ================ */

.txt {
  font-family: "Montserrat" !important;
  background: linear-gradient(120deg, #eb0f97, #f566f0, #3b098b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 8s ease-in-out infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ================ TYPING... TEXT EFFECT END ================ */



/* ================ STYLE FOR INTERN START ================ */

.intern {
  position: absolute;
  color: #000;
  font-weight: 550;
  font-style: italic;
  font-size: 2.5rem;
  z-index: 9999;
  right: 1%;
  bottom: 1%;
}

.intern::before {
  content: "99%";
  animation: percent 3.5s ease-in-out;
}

@keyframes percent {
  0% {
    content: "0%";
  }
  25% {
    content: "25%";
  }
  50% {
    content: "50%";
  }
  60% {
    content: "60%";
  }
  75% {
    content: "75%";
  }
  90% {
    content: "90%";
  }
  99% {
    content: "99%";
  }
}
